services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - internal      # Добавлено

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www/html
    depends_on:
      - mariadb
      - redis
    networks:
      - internal      # Добавлено

  mariadb:
    image: mariadb
    container_name: mariadb
    restart: always
    command: --default-authentication-plugin=mysql_native_password --innodb_use_native_aio=0
    environment:
      MYSQL_ROOT_PASSWORD: jsd_k7tg
      MYSQL_DATABASE: ads
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin22
    ports:
      - "3307:3306"
    volumes:
      - dbbase:/var/lib/mysql
      - ./docker/development/mysql/ads.sql:/docker-entrypoint-initdb.d/ads.sql
    networks:
      - internal

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  dbbase:
