{% block content %}
    <!-- Open the modal using ID.showModal() method -->
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box w-full max-w-md mx-2 sm:mx-auto
                sm:mt-16 sm:self-auto mt-0 mb-0 sm:mb-4
                flex flex-col justify-end"> <!-- адаптивно снизу на мобилке -->
            <h3 class="text-lg font-bold mb-4">Загрузить транзакции</h3>

            <form id="upload_form" class="flex flex-col">
                <input type="file" name="file" id="file_input" class="file-input my-4" accept="text/plain" required />

                <div class="flex flex-col sm:flex-row justify-end gap-2 mt-6">
                    <button type="button" id="upload_button"
                            class="btn bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 sm:px-6 sm:py-2 rounded text-sm sm:text-base w-full sm:w-auto">
                        Загрузить
                    </button>

                    <button type="button" id="close_button"
                            class="btn bg-gray-300 hover:bg-gray-400 text-gray-800 px-4 py-2 sm:px-6 sm:py-2 rounded text-sm sm:text-base w-full sm:w-auto mt-2 sm:mt-0">
                        Закрыть
                    </button>
                </div>
            </form>
        </div>
    </dialog>

    <dialog id="errorUpload" class="modal">
        <div class="modal-box w-full max-w-md mx-2 sm:mx-auto
                sm:mt-16 sm:self-auto mt-0 mb-0 sm:mb-4
                flex flex-col justify-end">
            <h3 class="text-lg font-bold">Ошибка!</h3>
            <p id="errorText" class="py-4"></p>
            <div class="modal-action flex flex-col sm:flex-row gap-2">
                <form method="dialog">
                    <button class="bg-blue-600 text-white px-4 py-2 sm:px-6 sm:py-2 rounded w-full sm:w-auto">
                        Закрыть
                    </button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog id="successUpload" class="modal">
        <div class="modal-box w-full max-w-md mx-2 sm:mx-auto
                sm:mt-16 sm:self-auto mt-0 mb-0 sm:mb-4
                flex flex-col justify-end">
            <h3 class="text-lg font-bold mb-4">Успешная загрузка</h3>
            <div class="space-y-2 text-base">
                <p>
                    <span class="font-semibold">Количество транзакций:</span>
                    <span id="transactions_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Банковских ордеров:</span>
                    <span id="bank_order_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Новые аккаунты:</span>
                    <span id="new_bank_accounts_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Возвратов клиенту:</span>
                    <span id="customer_client_returns_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Возвратов поставщику:</span>
                    <span id="customer_supplier_returns_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Возвратов клиент сервису:</span>
                    <span id="customer_client_services_returns_count">0</span>
                </p>

                <p>
                    <span class="font-semibold">Покупок у поставщика:</span>
                    <span id="goods_supplier">0</span>
                </p>

                <p>
                    <span class="font-semibold">Покупок клиента:</span>
                    <span id="goods_client">0</span>
                </p>

                <p>
                    <span class="font-semibold">Клиентских услуг:</span>
                    <span id="goods_client_service">0</span>
                </p>
            </div>

            <div class="modal-action flex flex-col sm:flex-row gap-2 mt-6">
                <form method="dialog">
                    <button id="ready"
                            class="bg-blue-600 text-white px-4 py-2 sm:px-6 sm:py-2 rounded text-sm sm:text-base w-full sm:w-auto font-medium hover:bg-blue-700">
                        Готово
                    </button>
                </form>
            </div>
        </div>
    </dialog>



    <script src="/assets/js/UploadModal.js?v=<?= time() ?>"></script>

{% endblock %}
