body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f2f2f2;
}

header {
    background: #4CAF50;
    padding: 10px;
    color: white;
}

footer {
    background: #ddd;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
