{% extends './Navbar/Navbar.twig' %}

{% block content %}

    {% include './Breadcrumb/Categories.twig' %}

    <div class="flex justify-center mt-10 mb-[30px]">
        <div class="w-[700px] space-y-4">
            <!-- Категории расходов -->
            <div id="categoryApp" x-data="{ open: true, level: 0, path: [] }" class="relative w-full">

                <!-- Отображение выбранной категории -->
                <div class="w-full text-left bg-white border border-gray-300 px-5 py-3 rounded-xl shadow-sm text-base font-medium">
                    <template x-if="path.length === 0">
                        <span class="text-gray-400">Категорий расхода</span>
                    </template>
                    <template x-if="path.length > 0">
                        <span id="category" x-text="path.join(' > ')"></span>
                    </template>
                </div>
                <!-- Выпадающее меню -->
                <div class="mt-2 w-full z-50 bg-white border border-gray-200 rounded-xl shadow-xl p-4 space-y-3 transition-all duration-300">

                    <!-- Назад -->
                    <div x-show="level > 0" class="mb-2">
                        <button @click="level--; path.pop()" class="text-sm text-blue-600 hover:underline">← Назад
                        </button>
                    </div>

                    <!-- Категории -->
                    {% if categories_html is empty %}
                        <div class="flex justify-center">
                            <button
                                    class="py-2 px-4 border border-blue-500 rounded-md text-blue-600 hover:bg-blue-100 transition"
                                    onclick="addCategoriesAtLevel({0:0})">
                                Добавить категорию
                            </button>
                        </div>

                    {% else %}
                        {{ categories_html|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include './Categories/CategoriesModal.twig' %}


{% endblock %}
